/* Set FullCalendar generic style */
.fc-event,
/* .fc-event .fc-event-skin, */
.fc-event .fc-event-time,
.fc-event a {
  border-style: solid;
  border-color: #36C;
  background-color: #36C;
  color: white;
}

#content .view-calendar table td {
  padding: 0;
}

.fc-event-default .fc-event-time {
  background: transparent;
  border: none;
}